<form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
  <div>
    <input class="form-control" type="text" placeholder="Name" name="Name" id="Name" [(ngModel)]="Name"/>
    <input class="form-control" type="text" placeholder="Accommodation type" name="AccommodationType" id="AccommodationType" [(ngModel)]="AccommodationTypeName"/>
    <input class="form-control" type="text" placeholder="Country" name="CountryName" id="CountryName" [(ngModel)]="CountryName"/>
    <input class="form-control" type="text" placeholder="Region" name="RegionName" id="RegionName" [(ngModel)]="RegionName"/>
    <input class="form-control" type="text" placeholder="Place" name="PlaceName" id="PlaceName" [(ngModel)]="PlaceName"/>
    <input class="form-control" type="text" placeholder="Number of beds" name="Bed" id="Bed" [(ngModel)]="BedCount"/>
    <input  style="float:left; width:50%"type="text" placeholder="Min price" name="min" id="min" [(ngModel)]="MinPrice"/>
    <input style="float:right; width:50%" type="text" placeholder="Max price" name="max" id="max" [(ngModel)]="MaxPrice"/>
    <input class="form-control" type="text" placeholder="Average grade" name="grade" id="grade" [(ngModel)]="AverageGrade"/>
  </div>
  
  <div style="margin-left:40%;margin-top:10px;">
    <button class="btn btn-info" name="add" >Search</button>
  </div>
</form>