<div class="container" style="margin-top:3px; margin-bottom:10px;margin-left:27%;width:660px">
  <div style="margin-left:41%;">
    <a href="#demo" class="btn btn-info" data-toggle="collapse">Show filter</a>
  </div>
  <div style="margin-left:5%;margin-top:10px;" float="left" id="demo" class="collapse">
    <filter (filterEvent)="doFitler($event)"></filter>
  </div>
</div>
<div>
  <span style="float:left;" *ngFor = "let acc of accommodations"><accommodation [accommodation] = "acc"></accommodation></span>
</div>
<div style="margin-top:42%; margin-left:46%">
  <nav aria-label="Page navigation example">
  <ul class="pagination">
    <li *ngIf="showPreviousButton()" class="page-item"><a (click)="previousPage()" class="page-link">Previous</a></li>
    <li class="page-item">
      <ul style="display:inline-block" class="pagination" *ngFor="let c of counter; let i=index">
        <li class="page-item"><a class="page-link" (click)="ChangePage((pageNumber-1)*2 + i +1)">{{(pageNumber-1)*2 +i +1}}</a></li>
      </ul>
    </li>
    <li *ngIf="showNextButton()" class="page-item"><a (click)="nextPage()" class="page-link">Next</a></li>
  </ul>
</nav>
</div>
