<p>
  Register as user
</p>

<form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
  <div>
    <label for = "name">Name:</label>
    <br>
    <input type="text" name="name" id="name" [(ngModel)]="Name"/>
  </div>

  <div>
    <label for = "lastname">Lastname:</label>
    <br>
    <input type="text" name="lastname" id="lastname" [(ngModel)]="Lastname"/>
  </div>

  <div>
    <label for = "username">User name:</label>
    <br>
    <input type="text" name="username" id="username" [(ngModel)]="Username"/>
  </div>

  <div>
    <label for = "email">E-mail:</label>
    <br>
    <input type="email" name="email" id="email" [(ngModel)]="Email"/>
  </div>

  <div>
    <label for = "pass">Password:</label>
    <br>
    <input type="password" name="pass" id="pass" [(ngModel)]="Password"/>
  </div>

  <div>
    <input type="submit" value="Add"/>
  </div>
</form>
