<!--The whole content below can be removed with the new code.-->
<div id="btn-group">
  <div align="left">
    <button md-raised-button [routerLink]="['/add-country']" class="md-button">Add country</button>
  </div>
  <div align="right">
    <button *ngIf="!IsLoggedIn()" md-raised-button [routerLink]="['/login']" class="md-button">Log in</button>
    <button *ngIf="!IsLoggedIn()" md-raised-button [routerLink]="['/register-user']" class="md-raised md-primary">Register as user</button>
    <button *ngIf="IsLoggedIn()" md-raised-button [routerLink]="['/logout']" class="md-button">Log out</button></div>
  </div>
<div>
  <router-outlet></router-outlet>
</div>



