<notifications *ngIf="IsLoggedIn()"> </notifications>

<nav style="background-color: rgba(0,0,0,0.5);
    height: 60px;
    border-bottom: 0px;
    transition: background-color .1s ease .3s;"
     class="navbar navbar-toggleable-md navbar-light bg-faded">
  <div class="collapse navbar-collapse" id="navbarSupportedContent" >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <button [routerLink]="['/home']" class="btn btn-secondary">Home</button>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto" *ngIf="isAdmin()">
      <div>
        <li class="nav-item" >
          <div class="btn-group"  >
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Countries</button>
            <div class="dropdown-menu" style="background-color: rgba(0,0,0,0.5);
                                              border-bottom: 0px;
                                              transition: background-color .1s ease .5s;
                                              margin-top:11px">
              <a [routerLink]="['/add-country']" class="btn btn-secondary" style="background-color: transparent; border: 0px; color:white;">Add country</a>
              <a [routerLink]="['/country-list']" class="btn btn-secondary" style="background-color: transparent; border: 0px; color:white;">Existing countries</a>
            </div>
          </div>
        </li>
      </div>
      <li class="nav-item">
          <button [routerLink]="['/add-region']" class="btn btn-secondary">Add region</button> 
      </li>
      <li class="nav-item">
        <button [routerLink]="['/add-place']" class="btn btn-secondary">Add place</button>
      </li>
      <li class="nav-item">
        <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Accommodation types</button>
            <div class="dropdown-menu" style="background-color: rgba(0,0,0,0.5);
                                              border-bottom: 0px;
                                              transition: background-color .1s ease .5s;
                                              margin-top:11px">
              <a [routerLink]="['/add-accommodation-type']" class="btn btn-secondary" style="background-color: transparent; border: 0px; color:white;">Add accommodation type</a>
              <a [routerLink]="['/accommodation-type-list']" class="btn btn-secondary" style="background-color: transparent; border: 0px; color:white;">Existing accommodation types</a>
            </div>
        </div>
      </li>
      <li class="nav-item">
          <button [routerLink]="['/manager-list']" class="btn btn-secondary">List of managers</button> 
      </li>
    </ul>
    <ul class="navbar-nav mr-auto" *ngIf="isManager()" >
      <li class="nav-item">
         <button [routerLink]="['/add-accommodation']" class="btn btn-secondary">Add accommodation</button>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto" *ngIf="isUser()" >
      <li class="nav-item">
         <button [routerLink]="['/my-reservations']" class="btn btn-secondary">My reservations</button>
      </li>
    </ul>
    <div float="right">
      <ul class="navbar-nav mr-auto" float="right" >
        <li class="nav-item">
            <button *ngIf="!IsLoggedIn()" [routerLink]="['/login']" class="btn btn-secondary">Log in</button>
        </li>
        <li class="nav-item">
            <button *ngIf="!IsLoggedIn()" [routerLink]="['/register-user']" class="btn btn-secondary">Register as user</button>
        </li>
        <li class="nav-item">
            <button *ngIf="IsLoggedIn()" [routerLink]="['/logout']" class="btn btn-secondary">Log out</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div >
  <router-outlet></router-outlet>
</div>

