
    <span style="width:12%; display:inline-block;">{{room.RoomNumber}} </span>
    <span style="width:12%; display:inline-block;">{{room.BadCount}} </span>
    <span style="width:12%; display:inline-block;">{{room.Description}} </span>
    <span style="width:12%; display:inline-block;">{{room.PricePerNight}} </span>
    <span *ngIf="CanEditOrDelete()" style="width:25%; display:inline-block;">
    <button  name="edit" class="btn btn-secondary" (click) = "changeShowEdit()">Edit</button>

      <div *ngIf="isShowEditPress()">
      <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
        <div>
          <label for = "RoomNumber">Room number:</label>
          <br>
          <input type="text" name="RoomNumber" id="RoomNumber" [(ngModel)]="RoomNumber"/>
        </div>
        <div>
          <label for = "BadCount">Bad count:</label>
          <br>
          <input type="text" name="BadCount" id="BadCount" [(ngModel)]="BadCount"/>
        </div>
        <div>
          <label for = "Description">Description:</label>
          <br>
          <input type="text" name="Description" id="Description" [(ngModel)]="Description"/>
        </div>
        <div>
          <label for = "PricePerNight">Price Per Night:</label>
          <br>
          <input type="text" name="PricePerNight" id="PricePerNight" [(ngModel)]="PricePerNight"/>
        </div>
        <div>
          <button name="edit" >Apply</button>
        </div>
      </form>
      </div>
      <button *ngIf="CanEditOrDelete()" class="btn btn-secondary" name="delete" (click) = "deleteRoom()">Delete</button>
    </span>
    <span style="width:12%; display:inline-block;">
      <button *ngIf="CanBookRoom()" [routerLink]="['/add-room-reservation', room.Id]" class="btn btn-secondary">Book now!</button>
    </span>
