<form #f="ngForm" (ngSubmit)="onSubmit()">
  <div>
    <label for = "Username">Username:</label>
    <br>
    <input type="text" name="Username" id="Username" [(ngModel)]="Username"/>
  </div>
  <div>
    <label for = "Email">Email:</label>
    <br>
    <input type="email" name="Email" id="Email" [(ngModel)]="Email"/>
  </div>
  <div>
    <label for = "Password">Password:</label>
    <br>
    <input type="password" name="Password" id="Password" [(ngModel)]="Password"/>
  </div>
  
  <div>
    <input type="submit" value="Register"/>
  </div>
</form>
