<form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
  <div style="margin-left:25%; margin-top:10%; width:50%">

    <span style="float:left">
      <label for = "StartDate">Check In:</label>
       <br>
       <input type="date" name="StartDate" id="StartDate" [(ngModel)]="StartDate"/>
    </span>

    <span style="float:right">
      <label for = "EndDate">Check Out:</label>
      <br>
      <input type="date" name="EndDate" id="EndDate" [(ngModel)]="EndDate"/>
       
      <input  class="btn btn-secondary" type="submit" value="Book now"/>
    </span>
  </div>
</form>