<div>
  <div style="margin-top:20px; width: 100%">
      <span style="float:left;">
        <font style="color:white">Name: {{accommodation.Name}} </font> <br>
        <font style="color:white">Address: {{accommodation.Address}} </font><br>
        <font style="color:white">Accommodation Type: {{accommodation.AccommodationType.Name}} </font><br> 
        <font style="color:white">Place: {{accommodation.Place.Name}} </font><br>
      </span>

      <span style="float:right;">
        <img [src]= "accommodation.ImageURL" alt="picture of accommodation" height="500px" width="500px">
      </span>
  </div>

  <div style="width: 100%">
    <span style="width:25%"></span>
    <span style="width:50%">
      <font style="color:white; size:16">ROOMS</font> <br>
      <ul>
        <li *ngFor = "let r of accommodation.Rooms">
        <room [room] = "r"></room>
        </li>
      </ul>
      <br>
      <button class="btn btn-secondary" name="add" [routerLink]="['/add-room/', accommodation.Id]">Add Room</button>
    </span>
    <span style="width:25%"></span>
  </div>
</div>